@import "prismjs/themes/prism.css";


.app-container {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 20px;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #e0e0e0;
}

.wysiwyg-editor {
  border: 1px solid #ccc;
  padding: 10px;

  outline: none;
  background-color: #fff;
}

.html-preview {

  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 850px;
  height: 500px;
}

pre.language-html code {
  white-space: pre-wrap !important; /* Force wrapping for code blocks */
  word-break: break-word !important; /* Break long words if necessary */
}


.wysiwyg-editor{
  width: 850px;
  min-height: 500px;
}

.app-header h1{
  text-align: center;
}

.app-footer p{
  text-align: center;
}